{{template  "header"}}
    </head>

    <body>
        <div class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                {{template  "navbar" .}}
                {{/*必须加点才能注入数据*/}}
            </div>
        </div>


        <div class="page-header">
            <div class="container">
                <div class="col-lg-9">
                    {{range .Topics}}
                        <div class="page-header">
                            <div class="container">
                                <h1><a href="/topic/view/{{.Id}}">{{.Title}}</a></h1>

                                <h6 class="text-muted">文章发表于{{.Created}}},共有{{.Views}}次浏览，{{.ReplyCount}}个评论</h6>

                            </div>
                        </div>
                    {{end}}
                </div>
                <div class="col-lg-3">
                        <h1>文章分类</h1>
                        <ul>
                            {{range .Categories}}
                            <li><a href="/?cate={{.Title}}">{{.Title}}</a></li>
                            {{end}}
                        </ul>

                </div>
            </div>

        </div>
        <h3>{{i18n .Lang "hi"}}</h3>
        <h3>{{i18n .Lang "bye"}}</h3>

        <h3>{{i18n .Lang "hi.hi"}}</h3>

        <h3>控制器中i8n.Locale:{{.Hi}}</h3>
    </body>
</html>