{{template  "header"}}}
    </head>

    <body>
        <div class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <a class="navbar-brand" href="/">我的博客</a>
                <ur class ="nav navbar-nav">
                    <li class = "active"><a href="/">首页</a></li>
                    <li><a href="/category">分类</a></li>
                    <li><a href="/topic">文章</a></li>
                </ur>
            </div>
        </div>

        <div class="page-header">
            <div class="container">
                <h1>我的第一篇博客</h1>
                <h6 class="text-muted">文章发表于2013年x月x日xx:xx,共有100次浏览，200个评论</h6>
                <p>
                    这是一篇博客。。。。。。。。。
                </p> <p>
                    这是一篇博客。。。。。。。。。
                </p> <p>
                    这是一篇博客。。。。。。。。。
                </p> <p>
                    这是一篇博客。。。。。。。。。
                </p> <p>
                    这是一篇博客。。。。。。。。。
                </p> <p>
                    这是一篇博客。。。。。。。。。
                </p> <p>
                    这是一篇博客。。。。。。。。。
                </p> <p>
                    这是一篇博客。。。。。。。。。
                </p> <p>
                    这是一篇博客。。。。。。。。。
                </p> <p>
                    这是一篇博客。。。。。。。。。
                </p> <p>
                    这是一篇博客。。。。。。。。。
                </p> <p>
                    这是一篇博客。。。。。。。。。
                </p> <p>
                    这是一篇博客。。。。。。。。。
                </p> <p>
                    这是一篇博客。。。。。。。。。
                </p> <p>
                    这是一篇博客。。。。。。。。。
                </p> <p>
                    这是一篇博客。。。。。。。。。
                </p> <p>
                    这是一篇博客。。。。。。。。。
                </p> <p>
                    这是一篇博客。。。。。。。。。
                </p> <p>
                    这是一篇博客。。。。。。。。。
                </p> <p>
                    这是一篇博客。。。。。。。。。
                </p> <p>
                    这是一篇博客。。。。。。。。。
                </p> <p>
                    这是一篇博客。。。。。。。。。
                </p> <p>
                    这是一篇博客。。。。。。。。。
                </p> <p>
                    这是一篇博客。。。。。。。。。
                </p> <p>
                    这是一篇博客。。。。。。。。。
                </p> <p>
                    这是一篇博客。。。。。。。。。
                </p> <p>
                    这是一篇博客。。。。。。。。。
                </p> <p>
                    这是一篇博客。。。。。。。。。
                </p> <p>
                    这是一篇博客。。。。。。。。。
                </p> <p>
                    这是一篇博客。。。。。。。。。
                </p> <p>
                    这是一篇博客。。。。。。。。。
                </p> <p>
                    这是一篇博客。。。。。。。。。
                </p> <p>
                    这是一篇博客。。。。。。。。。
                </p> <p>
                    这是一篇博客。。。。。。。。。
                </p>
            </div>
        </div>
    </body>
</html>