{{template  "header"}}
    </head>

    <body>
        <div class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                {{template  "navbar" .}}
                {{/*必须加点才能注入数据*/}}
            </div>
        </div>
        {{range .Topics}}
            <div class="page-header">
                    <div class="container">
                        <h1>{{.Title}}</h1>

                        <h6 class="text-muted">文章发表于{{.Created}}},共有{{.Views}}次浏览，{{.ReplyCount}}个评论</h6>
                        <p>
                            {{.Content}}
                        </p>
                    </div>
            </div>
        {{end}}
    </body>
</html>